:root{
    --bg-color:#ecf3e5;
    --bg-color-header: #023725;
}
body{
    background-color: var(--bg-color);
}
.layui-panel{
    padding: 30px;
}
.content{
    width: 80%; 
    margin: 0 auto;
}
@media (max-width:800px) {
    .content{
        width: 100%; 
    }
}
.layui-nav{
    background-color: var(--bg-color-header);
}
pre{
    padding: 2px 0 0 10px ;
    border-left: 1px solid #ccc;
    background-color: #fbfbfd;
}
pre code{
    display: block;
    max-height: 500px;
    overflow: scroll;
}
blockquote{
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 2px solid rgb(118, 192, 43);
}