.layui-panel .article h1,
.layui-panel .article>span{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.comment form{
    padding: 10px 0 ;
}
.comment form button{
    margin: 10px 0 ;
}