<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {# 其他页面可以重写标题 #}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('index.static', filename='css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('index.static', filename='css/base.css') }}">
    {% block css %}
    {% endblock css %}
    <script src="{{ url_for('index.static', filename='js/layui.js') }}"></script>
    <script src="{{ url_for('index.static', filename='js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('index.static', filename='js/tinymce/zh_CN.js') }}"></script>
    {% block js %}
    {% endblock js %}
</head>

<body>
    <ul class="layui-nav" lay-filter="" style="display: flex;justify-content: space-between;">
        <div>
            <li class="layui-nav-item"><a href="/">在线文章平台</a></li>
            <li class="layui-nav-item"><a href="/blog/blogAll">文章</a></li>
            <li class="layui-nav-item"><a href="/about">关于</a></li>
        </div>
        <div style="margin-right: 7px;">
            {% if session['user_id'] %}
            <li class="layui-nav-item" lay-unselect style="float: right;">
                <a href="javascript:;">
                    <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/blog/comment">我的评论</a></dd>
                    <dd><a href="/updatePwd">修改密码</a></dd>
                    <!-- <hr> -->
                    <dd><a href="/logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" style="float: right"><a href="/blog/blog_list">我的文章</a></li>
            <li class="layui-nav-item" style="float: right"><a href="/blog/write">写文章</a></li>
            {% else %}
            <li class="layui-nav-item" style="float: right"><a href="/register">注册</a></li>
            <li class="layui-nav-item" style="float: right"><a href="/login">登录</a></li>
            <li class="layui-nav-item" style="float: right; cursor: default;" title="{{session['uuid']}}" >uuid为默认身份</li>
            {% endif %}
        </div>
    </ul>

    <div class="content">
        {% block content %}
        {# 其他页面内容 #}
        {% endblock %}
    </div>


</body>

</html>