{% extends 'base.html' %}

{% block title %}
首页
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('index.static', filename='css/index.css') }}">
{% endblock css %}

{% block content %}
<div class="main">
    <ul class="blog-all">
        {% if blog_list_by_category %}
            
        {% endif %}
        {% for blog in blog_list %}
        <li>
            <p class="title">
                <span>
                    <a  class="layui-font-green" href="/blog/blog_detail/{{blog.id}}">标题：{{ blog.title }}</a>
                </span>
                <a class="info layui-font-green" href="/blog/blog_detail/{{blog.id}}">查看详情</a>
            </p>
            <div class="text">{{blog.text | safe}}</div>
            <p>
                <span>日期：{{blog.create_time.year}}-{{blog.create_time.month}}-{{blog.create_time.day}}</span>；
                <span>分类：<a  class="layui-font-blue" href="/index/{{blog.category.id}}">{{blog.category.name}}</a></span>；
                <span>创建人：{{blog.user.name}}</span>
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}