{% extends 'base.html' %}

{% block title %}
文章列表
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('index.static', filename='css/blog_list.css') }}">
{% endblock %}

{% block content %}
<div class="main layui-panel">
    <ul>
        {% if not blog_list %}
        <h1 style="text-align: center; margin-top: 50px;">
            还没有文章
            <a href="/blog/write" class="layui-font-green">写文章</a>
        </h1>
        {% endif %}
        {% for blog in blog_list %}
        <li>
            <a class="layui-font-green title" title="点击查看详情" href="/blog/blog_detail/{{ blog.id }}"
                blog-id="{{blog.id}}">{{ blog.title }}</a>
            <div class="text">
                {{blog.text | safe}}
            </div>
            <p>
                <span>作者：{{ blog.user.name }} ； 创建时间：{{ blog.create_time }} ； 分类：{{blog.category.name}}</span>
                {% if blog.active %}
                <span><span class="layui-badge-dot layui-bg-green" style="margin-right: 5px;"></span>已发布</span>
                {% else %}
                <span><span class="layui-badge-dot layui-bg-orange" style="margin-right: 5px;"></span>未发布</span>
                {% endif %}
                <span class="btn-list">
                    <a href="/blog/blog_edit/{{ blog.id }}" class="layui-btn">编辑</a>
                    <a href="/blog/blog_post/{{ blog.id }}" class="layui-btn layui-btn-normal">发布</a>
                    <a href="/blog/del_post/{{ blog.id }}" class="layui-btn layui-btn-danger" >删除</a>
                </span>
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
<script>
</script>