{% extends 'base.html' %}

{% block title %}
在线文章平台.写文章
{% endblock %}

{% block css %}
<style>
    .main form label {
        text-align: left;
    }

    .main input[name=title] {
        width: 50%;
    }

    .main form label+div.layui-input-block {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock %}
{% block js %}
{% endblock js %}
{% block content %}
<div class="main">
    {% if blog %}
    <form class="layui-form" action="/blog/write/{{blog.id}}" method="post">
        <div class="layui-form-item" style=" margin-top: 50px;">
            <label class="layui-form-label" autocomplete="off">标 题</label>
            <div class="layui-input-block ">
                <input type="text" value="{{blog.title}}" name="title" lay-verify="required" placeholder="请输入标题"
                    class="layui-input">
                <div class="layui-row">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-form"></i>
                        </div>
                        <select name="category_name">
                            <option value="">选择分类</option>
                            {% for category in category_all %}
                            {% if category.name == blog.category.name %}
                            <option value="{{category.name}}" selected>{{category.name}}</option>
                            {% else %}
                            <option value="{{category.name}}">{{category.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor">
            {{ blog.text | safe }}
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: right;">
                <button type="button" class="layui-btn submit_btn" style="width: 150px; margin-top: 30px;">保存</button>
            </div>
        </div>
    </form>
    {% else %}
    <form class="layui-form" action="/blog/write" method="post">
        <div class="layui-form-item" style=" margin-top: 50px;">
            <label class="layui-form-label" autocomplete="off">标 题</label>
            <div class="layui-input-block ">
                <input type="text" name="title" lay-verify="required" placeholder="请输入标题" class="layui-input">
                <div class="layui-row">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-form"></i>
                        </div>
                        <select name="category_name">
                            <option value="">选择分类</option>
                            {% for category in category_all %}
                            <option value="{{category.name}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: right;">
                <button type="button" class="layui-btn submit_btn" style="width: 150px; margin-top: 30px;">保存</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>

<script type="text/javascript">
    let form = document.querySelector('.layui-form')
    let submit_btn = document.querySelector('.submit_btn')
    let title = document.querySelector('input[name=title]')
    function get_content(is_active) {
        console.log(title)
        if (title.value.replace(/\s+/g, '') != '' && tinymce.activeEditor.getContent().length >= 100) {
            form.submit()
        }
        else {
            alert('请填写标题且正文字数不能少于100')
        }
    }
    submit_btn.onclick = () => {
        get_content(is_save = 1)
    }
    tinymce.init({
        selector: '#editor',
        language: 'zh_CN',
        branding: false,
        plugins: 'searchreplace fullscreen image link media template code codesample table charmap pagebreak anchor insertdatetime advlist lists wordcount help autosave  autoresize ',
    toolbar: 'searchreplace code template undo codesample restoredraft | forecolor backcolor bold link anchor lineheight fullscreen |\
    styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat \
    image media charmap hr pagebreak insertdatetime',
        toolbar_sticky: true,
        promotion: false,
    });

</script>
{% endblock %}